.sidebar{
    transition: 0.5s ease-in-out;
    top: 300px;
    bottom: 0;
    padding: 10px 25px;
    margin-top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    left: 0;
}
